@model IEnumerable<FlightBooking.Models.Reservation>


@{
    ViewData["Title"] = "Index";
   
}
<head>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/ReservationHub")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.start().then(function () {
            console.log("SignalR connected.");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        connection.on("ReceiveReservationEdit",function (message){
            var reservation=JSON.parse(message);
            var statusElement = $(`table tbody tr[data-reservation-id='${reservation.Id}'] td.status`);
            statusElement.text(reservation.Status);
        });



        connection.on("ReceiveReservationUpdate", function (message) {
            var reservation = JSON.parse(message);
            //console.log("Received message: " + JSON.stringify(reservation));
            console.log("Rezervacija: "+JSON.stringify(reservation));
            console.log("Rez: "+message);
         
            //ovde vidim u konzoli da se rezervacija uspesno prosledila: sada treba da dodam u listu

        
            var newRow = `<tr>
                                <td>${reservation.CustomerId}</td>
                                <td>${reservation.FlightId}</td>
                                <td>${reservation.Status}</td>
                                <td>${reservation.Seats}</td>
                                <td>
                                    <a href="ReservationsController/Edit/${reservation.Id}">Edit</a> |
                                    <a href="ReservationsController/Details/${reservation.Id}">Details</a> |
                                    <a href="ReservationsController/Delete/${reservation.Id}">Delete</a>
                                </td>
                            </tr>`;

            $("table tbody").append(newRow);
        });
    </script>
</head>

<h1>Index</h1>

<p>
   @* <a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr data-reservation-id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
